<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jonlink.system.mapper.JonlinkInsuranceCompanyMapper">
    
    <resultMap type="JonlinkInsuranceCompany" id="JonlinkInsuranceCompanyResult">
        <result property="id"    column="id"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyCode"    column="company_code"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJonlinkInsuranceCompanyVo">
        select id, company_name, company_code, status, remark, create_by, create_time, update_by, update_time from jonlink_insurance_company
    </sql>

    <select id="selectJonlinkInsuranceCompanyList" parameterType="JonlinkInsuranceCompany" resultMap="JonlinkInsuranceCompanyResult">
        <include refid="selectJonlinkInsuranceCompanyVo"/>
        <where>  
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectJonlinkInsuranceCompanyById" parameterType="Long" resultMap="JonlinkInsuranceCompanyResult">
        <include refid="selectJonlinkInsuranceCompanyVo"/>
        where id = #{id}
    </select>

    <insert id="insertJonlinkInsuranceCompany" parameterType="JonlinkInsuranceCompany" useGeneratedKeys="true" keyProperty="id">
        insert into jonlink_insurance_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name,</if>
            <if test="companyCode != null and companyCode != ''">company_code,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
         <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">#{companyName},</if>
            <if test="companyCode != null and companyCode != ''">#{companyCode},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJonlinkInsuranceCompany" parameterType="JonlinkInsuranceCompany">
        update jonlink_insurance_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null and companyName != ''">company_name = #{companyName},</if>
            <if test="companyCode != null and companyCode != ''">company_code = #{companyCode},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJonlinkInsuranceCompanyById" parameterType="Long">
        delete from jonlink_insurance_company where id = #{id}
    </delete>

    <delete id="deleteJonlinkInsuranceCompanyByIds" parameterType="String">
        delete from jonlink_insurance_company where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>